.sidebar-nav .sidebar-item {
    padding-bottom: 15px;
}

nav#sidebar {
    background: #333333 !important;
}

.sidebar, .sidebar-content {
    background: #333333 !important;
}

a.sidebar-link {
    background: #333333 !important;
}

li.active > a.sidebar-link {
    background: #3f4046 !important;
}

.navbar {
    box-shadow: none !important;
}

.border-content {
    border: 1px solid rgba(0,0,0,.12) !important;
    border-radius: 10px;
}

main.content {
    padding: 1.5rem 1.5rem 0.75rem !important;
}

h4.admin-breadcum {
    padding: 0rem 1.5rem 0rem !important;
    color: #495057;
}

h4.admin-breadcum a{
    color: #4C4C4C;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#alertsDropdown svg {
    height: 30px !important;
    width: 30px !important;
}